In [6]:
import seaborn as sns
import pandas as pd

In [4]:
iris = sns.load_dataset('iris')
#species -> 100,010,001

In [3]:
# get_dummies 이용한 원핫인코딩
def myData(data,col):
    #print(data[col])
    for c in col:
        data = pd.concat([data,pd.get_dummies(data[c], prefix=c)], axis=1)
        data = data.drop(c,axis=1)
    return data

In [7]:
col = ["species"] #1개열만 원핫인코딩
myData(iris,col) # mydata 함수 적용

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1